@page "{searchString?}"
@model MegaDesk.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Customer Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CustomerNameSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].QuotePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].DeliveryType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryType.DeliveryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DeskQuoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DeskQuoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DeskQuoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
